@import "tailwindcss";

:root {
  --background: #f8f9fc;
  --foreground: #191c1e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-body: var(--font-inter);
  --font-headline: var(--font-manrope);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

h1, h2, h3, .brand-font {
  font-family: var(--font-manrope), sans-serif;
}
